#inner-dropzone {
    min-height: 150px;
    text-align: center;
}

.dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
}

.drop-active {
    border-color: #aaa;
}

.dragging {
    opacity: .5;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    /* margin: 1rem 0 0 1rem; */
    text-align: center;

    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;

    touch-action: none;
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}

.group {
    padding: 2rem;
    cursor: auto;
    width: fit-content;
    display: inline-block;
}

.dropzone .group {
    background-color: #02528c;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.group .drag-drop {
    display: block;
}

.group.drop-target {
    background-color: red;
}